{% extends "layout.html" %}
{% block body %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/home-bg.jpg') }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>StellarStories Admin Panel</h1>
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h2>Add Post</h2>
                    <a href="/edit/0"><button class="btn btn-primary text-uppercase">Add</button></td></a>
                    <a href="/logout"><button class="btn btn-primary text-uppercase">Logout</button></td></a>
                    <hr>

                    <h2>Upload File </h2>
                      <form action="upload" method="post" enctype="multipart/form-data">
                        <input type="file" name="file" >
                        <button class="btn btn-primary text-uppercase">Upload</button>
                      </form>
                 <hr>
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Sr.No</th>
                          <th>Title</th>
                          <th>Date</th>
                          <th>Edit</th>
                          <th>Delete</th>
                        </tr>
                      </thead>

                      <tbody>
                        {% for post in posts %}
                        <tr>
                          <td>{{ loop.index }}</td>
                          <td>{{ post.title }}</td>
                          <td>{{ post.date.strftime('%d-%m-%Y') }}</td>
                          <td> <a href="/edit/{{ post.sno }}"><button class="btn btn-primary text-uppercase">Edit</button></a></td>
                          <td><a href="/delete/{{ post.sno }}"><button class="btn btn-primary text-uppercase">Delete</button></a></td>
                        </tr>
                        {% endfor %}
                        <!-- <tr>
                          <td>Mary</td>
                          <td>Moe</td>
                          <td>mary@example.com</td>
                        </tr>
                        <tr>
                          <td>July</td>
                          <td>Dooley</td>
                          <td>july@example.com</td> -->
                        </tr>
                      </tbody>
                    </table>
                  


                </div>
            </div>
        </div>


{% endblock %}
</html>