{% extends "layout.html" %}
{% block body %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/home-bg.jpg') }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>StellarStories</h1>
                            <span class="subheading">Unleash Your Imagination with StellarStories!
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    {% for post in posts  %}
      
                    <div class="post-preview">
                        <a href="/post/{{post.slug}}">
                            <h2 class="post-title">{{ post.title }}</h2>
                            <!-- <h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3> -->
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="/user/{{ post.username }}/posts">{{ post.username }}</a>
                            {{ post.days_ago }}
                        </p>
                        {{post.content[0:40]}}....
                    </div>
                    {% endfor %}
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <!-- <div class="d-flex justify-content-end mb-4"
                    ><a class="btn btn-primary text-uppercase" href="/older">Older Posts →</a>
                    </div>
                     -->
                     <div class="d-flex justify-content-between mb-4">
                        {% if posts.has_prev %}
                            <a class="btn btn-primary text-uppercase" href="{{ url_for('home', page=posts.prev_num) }}">Newer Posts ←</a>
                        {% endif %}
                        
                        {% if posts.has_next %}
                            <a class="btn btn-primary text-uppercase" href="{{ url_for('home', page=posts.next_num) }}">Older Posts →</a>
                        {% endif %}
                    </div>
                    

                   
                </div>
            </div>
        </div>

{% endblock %}