<!-- <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
        
<div class="form-signin w-100 pt-5">
    <form method="post" action="/dashboard">
      <h1 class="h3 mb-3 fw-normal text-center">Please sign in</h1>
  
      <div class="form-floating pt-3 ">
        <input type="text" class="form-control" id="uname" placeholder="username" name="uname">
        <label for="floatingInput">User Name</label>
      </div>
      <div class="form-floating pt-3">
        <input type="password" class="form-control" id="pass" placeholder="Password" name="pass">
        <label for="floatingPassword">Password</label>
      </div>
  
      </div>
      <div class="pt-3">

          <button class="btn btn-primary w-100 " type="submit">Sign in</button>
      </div>
    </form>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html> -->
{% extends "layout.html" %}
{% block body %}

<style>
  ul.flashes li {
  list-style-type: none;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f8d7da; /* Light red background color for error messages */
  color: #721c24; /* Dark red text color for error messages */
}

ul.flashes li.success {
  background-color: #d4edda; /* Light green background color for success messages */
  color: #155724; /* Dark green text color for success messages */
}
</style>
<header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/home-bg.jpg') }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Login</h1>
                    
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
              <ul class="flashes">
                  {% for message in messages %}
                      <li>{{ message }}</li>
                  {% endfor %}
              </ul>
          {% endif %}
        {% endwith %} 
            <h2>Login </h2>
            <form method="post" action="/dashboard">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="uname" placeholder="username" name="uname">
                      <label for="floatingInput">User Name</label>
                    </div>
                    <div class="form-floating">
                      <input type="password" class="form-control" id="pass" placeholder="Password" name="pass">
                      <label for="floatingPassword">Password</label>
                    </div>
                    <br />
                    <button class="btn btn-primary text-uppercase " id="submitButton" type="submit">Login</button>
                    <br />
                    
                      <h6 style="padding-top: 15px;"><a href="{{ url_for('signup') }}">Create a Account</a> </h6>
                      
                  
 
                    <br />
                    <!-- <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div> -->
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <!-- <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div> -->
                    <!-- Submit Button-->
                </form>
        </div>
    </div>
</div>

{% endblock %}
</html>